.widget {
    display: flex;
    justify-content: space-between;
    flex: 1;

    .left,
    .right {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 8px;

        .title {
            font-size: 14px;
            font-weight: 500;
            color: gray
        }

        .counter {
            font-size: 24px;
            font-weight: 300;
        }

        .link {
            color: gray;
            border-bottom: 1px solid gray;
            width: max-content;
            font-size: 12px;
            text-decoration: none;
        }

        .icon {
            width: 20px;
            height: 20px;
            align-self: flex-end;
            padding: 2px;
            border-radius: 999px;
            -webkit-border-radius: 999px;
            -moz-border-radius: 999px;
            -ms-border-radius: 999px;
            -o-border-radius: 999px;
        }

        .percentage {
            display: flex;
            align-items: center;
            font-size: 14px;
            font-weight: bold;

            &.positive {
                color: green;
            }

            &.negative {
                color: brown;

                .arrow {
                    rotate: 180deg;
                }
            }

        }


    }
}